<!DOCTYPE html>
<html>
<head>
    <title>Aktarul Islam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/about.css">

</head>

<body>

    <div class="header">
            <h1 style=" display: inline ">Aktarul Islam</h1>
            <b><p style=" display: inline; font-family: 'Bradley Hand ITC'; color: black">
                &nbsp MEAN stack developer</p>
            </b>
    </div>

    <div class="sidenav">
        <img src="../images/33.JPG" >
        <a href="../index.html">Home</a>
        <a href="Skills_Academic.html">Academic info and Skills</a>
        <a href="Photos.html">Photos</a>
        <a href="About.html">About Me</a>
    </div>

    <div class="main">
        <div class="about" style="top: 120px">
            <h4>Address</h4>
            <Address>
                    Computer science and Engineering<br>
                    University of Rajshahi,
                    Rajshahi, Bangladesh
            </Address>
        </div>
        <div class="about" style="top: 280px" >
                <h4 style="display: inline">Email: </h4>
                <p style="display: inline"> aktarul@email.com </p>
        </div>

        <div class="about" style="top: 350px">
                <h4>Interests</h4>
                <Address>
                        <li>Video Gaming</li>
                        <li>Watching movies</li>
                        <li>Visiting places</li>
                </Address>
        </div>
    </div>
     
</body>
</html> 
